# env vars
.env

# local venvs
.venv/
venv/

# python cache
__pycache__/
*.pyc

# local db and test artifacts
*.db
*.sqlite
*.log

# git
.git/
.gitignore

# mac
.DS_Store

# tests (optional)
tests/

# ZIP-files
*.zip
